// vim:ft=groovy

executor {
  cpus = 48
}

trace {
  enabled = true
  overwrite = false
  fields = 'task_id,name,process,status,exit,duration,realtime,rss,peak_rss'
}

params {
  FP = 0.00001
  FN = 0.15
  
  scripts {
    sasc2scite = "$baseDir/scripts/sasc2scite.py"
    mkplot = "$baseDir/comparison/plotting/make.py"
    infsciteTrim = "$baseDir/scripts/infscite_trimtree.py"
    infscite2mat = "$baseDir/comparison/plotting/infscite2mat.py"
  }

  sw {
    infscite = "$baseDir/tools/infscite/infSCITE"
    resasc = "$baseDir/tools/resasc/sasc"
    sasc = "$baseDir/tools/sasc/sasc"
  }

  infscite {
    r = 1
    l = 200000
  }

  resasc {
    r = 10
    S = 100000.0
    C = 0.001
  }
}

profiles {
  conda {
    conda.enabled = true
    conda.useMamba = true
  }
  exp1 {
    params.plotname = "exp1"
    params.expdir = "exp1"
    params.infscite.rec = 3
    params.resasc.g = 1
    params.resasc.q = 0.2
    params.resasc.MAXL = 0
    params.resasc.MAXR = 3
  }

  exp2 {
    params.plotname = "exp2"
    params.expdir = "exp2"
    params.infscite.rec = 3
    params.resasc.g = 0.02
    params.resasc.q = 0.02
    params.resasc.MAXL = 3
    params.resasc.MAXR = 3
  }
  
  exp3 {
    params.plotname = "exp3"
    params.expdir = "exp3"
    params.infscite.rec = 5
    params.resasc.g = 1
    params.resasc.q = "$baseDir/bimodal.q"
    params.resasc.MAXL = 0
    params.resasc.MAXR = 5
  }

  exp4 {
    params.plotname = "exp4"
    params.expdir = "exp4"
    params.infscite.rec = 5
    params.resasc.g = 0.02
    params.resasc.q = "$baseDir/bimodal.q"
    params.resasc.MAXL = 5
    params.resasc.MAXR = 5
  }

  exp5 {
    params.plotname = "exp5"
    params.expdir = "exp5"
    params.infscite.rec = 5
    params.resasc.g = "$baseDir/bimodal.g"
    params.resasc.q = "$baseDir/bimodal.q"
    params.resasc.MAXL = 5
    params.resasc.MAXR = 5
  }
}
